.progress-bar, .progress {
    height: 20px !important;
    // background-color: blue;
    // color: burlywood;
  }

  .main{
    margin: 10px;
  }

  .card-view{
      margin: 5px 0px 5px 0px;
  }

  #submitbutton {
    margin-top: 6px;
    justify-content: center;
    align-items: center;
  }